/* --------------------------
 * Header Module Styles
 * --------------------------
*/

.header {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid #eee;
    background: #fff;
    letter-spacing: 0.05em;
    margin-bottom:15px;
}
    .header h1 {
        text-align: center;
        font-size: 300%;
        font-weight: 100;
        margin: 0;
    }
     .header h2 {
        text-align: center;
        font-size: 125%;
        font-weight: 100;
        line-height: 1.5;
        margin: 0;
        color: #666;
        letter-spacing: -0.02em;
    }

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: rgb(75, 75, 75);
}

.index_title {
    font-size:125%;
}